In [29]:
import pandas as pd
from scipy import stats
import scipy

## Q 1

In [2]:
data= pd.read_csv('Cutlets.csv')
data

         a       b
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [3]:
unitA= pd.Series(data.iloc[:,0])

In [4]:
unitB= pd.Series(data.iloc[:,1])

In [5]:
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: b, dtype: float64

In [6]:
df= stats.ttest_ind(unitA,unitB)
df

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

as pvalue is greater than 0.05 accpet null hypothesis= there is no diffrence

## Q2

In [7]:
lab=pd.read_csv('LabTAT.csv')
lab

     Laboratory_1  Laboratory_2  Laboratory_3  Laboratory_4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [8]:
df2= stats.f_oneway(lab.iloc[:,0], lab.iloc[:,1], lab.iloc[:,2], lab.iloc[:,3])
df2

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

as pvalue is less than 0.05 we accept H1, there is some diffrence in average TAT

## Q 3

In [9]:
buyers= pd.read_csv('BuyerRatio.csv')
buyers

  Observed_Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [14]:
buyers['values']=buyers.Observed_Values.factorize()[0]

In [15]:
buyers

  Observed_Values  East  West  North  South  values
0           Males    50   142    131     70       0
1         Females   435  1523   1356    750       1

In [26]:
buyers1=buyers.drop(['Observed_Values'], axis=1)

In [27]:
buyers1

   East  West  North  South  values
0    50   142    131     70       0
1   435  1523   1356    750       1

In [32]:
chisquare_result= scipy.stats.chi2_contingency(buyers1)
chisquare_result

(1.6929696469183675,
 0.7919942975413564,
 4,
 array([[4.27557201e+01, 1.46779946e+02, 1.31088156e+02, 7.22880215e+01,
         8.81561238e-02],
        [4.42244280e+02, 1.51822005e+03, 1.35591184e+03, 7.47711978e+02,
         9.11843876e-01]]))

as pvalue is greater than 0.05 we accept null hypothesis(H0) male-female buyers are similar across the region

## Q 4

In [33]:
form= pd.read_csv('Costomer+OrderForm.csv')
form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [38]:
form1= pd.get_dummies(form)

In [39]:
form1

,Phillippines_Defective,Phillippines_Error Free,Indonesia_Defective,Indonesia_Error Free,Malta_Defective,Malta_Error Free,India_Defective,India_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...
295,0,1,0,1,0,1,0,1
296,0,1,0,1,0,1,0,1
297,0,1,0,1,1,0,0,1
298,0,1,0,1,0,1,0,1
299,0,1,1,0,1,0,0,1

In [40]:
chisquare_result_2= scipy.stats.chi2_contingency(form1)

In [41]:
chisquare_result_2

(1200.0,
 1.0,
 2093,
 array([[0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        ...,
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333]]))

As the pvalue is greater than 0.05 we accept H0 defective % doesn’t varies by centre